@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow&display=swap');

@keyframes arrow-movement{
    0%{
        margin-top: 0px;
    }
    30%{
        margin-top: 10px;
    }
    60%{
        margin-top: -2px;
    }
    70%{
        margin-top: 0px;
    }
    100%{
        margin-top: 0px;
    }
}


/* html{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.snap-item{
    scroll-snap-align: start;
    min-height: 100vh;
    position: relative;
} */
html{
    scroll-behavior: smooth;
}
.second-container {
    background-color: white;
    min-height: 100vh;
    align-items: center;
}
.third-container {
    background-color: burlywood;
    min-height: 100vh;
}
.fourth-container {
    background-color: teal;
}
.front-container {
    min-height: 100vh;
    background-image: url('image/30166.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
}
header {
    padding: 50px;
    background-color: #f2f2f2;
}
.header-heading {
    align-items: center;
    text-align: center;
}
.header-heading div {
    font-family: 'Baloo Bhai', cursive;
    font-size: 3.4rem;
}
@media (max-width:460px){
    .header-heading div {
        font-size: 2.4rem;
    }
    .eight-logo {
        font-size: 6rem;
    }
}
.eight-logo {
    color: rgb(206, 92, 84);
    font-size: 10rem !important;
    line-height: 10rem;
    font-family: 'Jacques Francois Shadow', cursive !important;
}
.about-container {
    text-align: center;
    padding: 70px 0px;
}
.about-content {
    font-family: 'Poiret One';
    font-size: 1.9rem;
    font-weight: 500;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.img-arrow {
    transition: 0.2s;
    animation: arrow-movement 1.8s ease infinite;
    border-radius: 10px;
}
.img-arrow a img {
    transition: 0.3s;
    border-radius: 10px;
}
.img-arrow a img:hover {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.9;
}

.tws-heading{
    text-align: center;
    font-size: 3rem;
    font-family: 'Poiret One';
    padding: 30px 0px;
}
.tws-content {
    margin-top: 50px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.tws-item {
    align-items: center;
    display: inline-block;
    padding: 20px;
}
.tws-item-content {
    text-align: center;
    font-size: 1.2rem;
}
.tws-item img {
    height: 130px;
    background-color: white;
}

.why-item-container {
    padding: 30px;
}
.why-item img {
    width: 100%;
    border-radius: 10px;
}
.why-item {
    position: relative;
}
.why-item-content {
    background: linear-gradient(45deg , rgba(85, 74, 45, 0.842), rgba(85, 55, 7, 0.822));
    position: absolute;
    padding: 30px;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    color: white;
    pointer-events: none;
    font-size: 1.3rem;
}
